#order-success-txt{
	margin-top: 100px;
	margin-bottom: 50px;
}
#order-success-txt h3{
	color: #ff0000;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
#order-success-txt p{
	font-size: 15px;
	text-align: center;
}
















	